<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Coordinator</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'><link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <style>
        .container{
            margin-top: 5%;
            width:750px;
        }
        .nav-link,.navbar-brand{
          color: white;
        }
    form .input-field:first-child {
    margin-bottom: 0rem;
}
.input-field {
        margin-top:20px;
    }
    .input-field input{
        margin-top: 2px ;
    }
    select{
border: 1px solid lightgray;
   height: 15px;
   border-radius: 5px;

   outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
  
  </style>
  <script>
    function myFunction()
    {
      document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    }
</script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background: linear-gradient(45deg, #8e2de2, #4a00e0);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/tpodisplayquery"><img src="../css/Jntuk-logo.png" width="60px" height="50px">UCEK Training and Placement Cell</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  style="color: white;" href="/tpodisplayquery">view Queries</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="font-size: 1rem;"> Student            
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/tpoaddselected">Add selected students</a></li>
                  <li><a class="dropdown-item" href="/tpoaddnotification">Notify Students</a></li>
                  <li><a class="dropdown-item" href="/tpodocuments">view student docs</a></li>              
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tporesumedownload">Resume </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tpofilter"> Filter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tpoaddcompany">Add Company</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tpodisplaycompany"> Company details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tpoaddpc"> Add PC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" onclick="myFunction();"> Logout</a>
              </li>              
            </ul>       
          </div>
        </div>
      </nav>
  <main class="container" style="min-width: 380px;height: 30vh;">
        <h2 style="margin-bottom: 0rem;">Add Coordinator</h2>
        <% if (message) { %>
            <p style="color: green"><%= message %></p>
          <% } %>
        <form action="" method="post">
            <div class="input-field">
                <input type="text" name="name" id="name"
                    placeholder="Enter name" minlength="1" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="number" name="phone" id="phone"
                    placeholder="Enter phone number" minlength="10" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email"
                    placeholder="Enter email" minlength="1" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Enter password for this account" minlength="8" required>
                <div class="underline"></div>
            </div>
            
            <div class="input-field" style="margin-top:20px;">
             <label for="branch">Select a department:</label><br>
<select id="branch" name="branch" required>
  <option value="" disabled selected>-- Select branch --</option>
  <option value="CSE">Computer Science and Engineering (CSE)</option>
  <option value="ECE">Electronics and Communication Engineering (ECE)</option>
  <option value="EEE">Electrical and Electronics Engineering (EEE)</option>
  <option value="MECH">Mechanical Engineering (MECH)</option>
  <option value="CIVIL">Civil Engineering (CIVIL)</option>
  <option value="PET">Petroleum Engineering (PET)</option>
  <option value="CHEM">Petrochemical Engineering (CHEM)</option>
</select>

</div>
            
            
            <input type="submit" value="Add Coordinator" style="margin-top:20px;">
        </form>

       
    </main>
</body>
</html>
