<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form.</title>
    <link rel="stylesheet" href="/css/studenthome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style type="text/css">
       body {
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-direction: column;
        background-color: #e8efeb;
      }
      .contact-us {
        text-align: center;
        padding: 6px;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
      }
     
    </style>
</head>
<body>
  <main class="container">
    <div class="img1">
      <img src="../css/Jntuk-logo.png" alt="jntulogo" style="position: absolute; top: 0.7; right: 1;">
    </div>
    <div style="position: relative;" class="img2">
      <img src="../css/placement_logo1.png" alt="Image description" style="position: absolute; top: -30px; right: 10px;">
    </div>

    <h2 class="heading"> UCEK TRAINING & PLACEMENT PORTAL   </h2>
    <div>
      <div class="main2" ><a href="/tpologin"><img src="../css/tpo.jpg" alt="tpo"></a><br><h5>TPO</h5></div>
      <div class="main2"><a href="/loginpc"><img src="../css/coordinator2.jpg" alt="coordinator"></a><br><h5>COORDINATOR</h5></div>      
      <div class="main2"><a href="/student"><img src="../css/student.jpg" alt="student"></a><h5>STUDENT</h5></div>
    </div><br><br>
    <p  class="para"><b><i>Previous Year Placement History(2022-2023)</i></b></p>
    <table>
      <thead>
        <tr>
          <th>S.No</th>
          <th>Company Logo</th>
          <th>Company Name</th>
          <th>Total Selects</th>
          <th>Package</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><img src ="/css/darwinbox.png" height=50%></td>
          <td>Darwinbox</td>
          <td>1</td>
          <td>16.3</td>
        </tr>
        <tr>
          <td>2</td>
          <td><img src ="/css/factset.png" height=50%></td>
          <td>Factset</td>
          <td>1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>3</td>
          <td><img src ="/css/united.png" height=40%></td>
          <td>United Online</td>
          <td>8</td>
          <td>8.5</td>
        </tr>
        <tr>
          <td>4</td>
          <td><img src ="/css/sterlite.png" height=40%></td>
          <td>Sterlite Technologies</td>
          <td>11</td>
          <td>8</td>
        </tr>
        <tr>
          <td>5</td>
          <td><img src ="/css/oracle.jpg" height=50%></td>
          <td>Oracle</td>
          <td>1</td>
          <td>8</td>
        </tr>
        <tr>
          <td>6</td>
          <td><img src ="/css/accolite.jpg" height=50%></td>
          <td>Accolite Digital</td>
          <td>1</td>
          <td>8</td>
        </tr>
        <tr>
          <td>7</td>
          <td><img src ="/css/jsw.png" height=50%></td>
          <td>JSW</td>
          <td>10</td>
          <td>9.5</td>
        </tr>
        <tr>
          <td>8</td>
          <td><img src ="/css/backflipt.png" height=50%></td>
          <td>Backflipt</td>
          <td>9</td>
          <td>7.35</td>
        </tr>
        <tr>
          <td>9</td>
          <td><img src ="/css/tcs.png" height=50%></td>
          <td>TCS Digital</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>10</td>
          <td><img src ="/css/accenture.png" height=50%></td>
          <td>Accenture</td>
          <td>17</td>
          <td>6.5</td>
        </tr>
        <tr>
          <td>11</td>
          <td><img src ="/css/zftech.png" height=50%></td>
          <td>ZF Tech</td>
          <td>18</td>
          <td>6</td>
        </tr>
        <tr>
          <td>12</td>
          <td><img src ="/css/lt.jpg" height=50%></td>
          <td>L&T</td>
          <td>50</td>
          <td>6</td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src ="/css/galaxe.png" height=50%></td>
          <td>Galaxe Solutions</td>
          <td>20</td>
          <td>5</td>
        </tr>
        <tr>
          <td>14</td>
          <td><img src ="/css/cyient.png" height=50%></td>
          <td>Cyient</td>
          <td>14</td>
          <td>4.7</td>
        </tr>
        <tr>
          <td>15</td>
          <td><img src ="/css/deccaN.jpg" height=50%></td>
          <td>Deccan Chemicals</td>
          <td>10</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>16</td>
          <td><img src ="/css/infosys.png" height=50%></td>
          <td>Infosys</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>17</td>
          <td><img src ="/css/coromandel.png" height=50%></td>
          <td>Coramandel</td>
          <td>12</td>
          <td>4</td>
        </tr>
        <tr>
          <td>18</td>
          <td><img src ="/css/cognizant.png" height=50%></td>
          <td>Cognizant</td>
          <td>66</td>
          <td>4.0</td>
        </tr>
        <tr>
          <td>19</td>
          <td><img src ="/css/techm.png" height=50%></td>
          <td>Tech Mahindra</td>
          <td>22</td>
          <td>3.8</td>
        </tr>
        <tr>
          <td>20</td>
          <td><img src ="/css/apcfss.png" height=50%></td>
          <td>APCFSS</td>
          <td>8</td>
          <td>3.5</td>
        </tr>
        <tr>
          <td>21</td>
          <td><img src ="/css/tcs.png" height=50%></td>
          <td>TCS Ninja</td>
          <td>153</td>
          <td>3.36</td>
        </tr>
      </tbody>
    </table><br>
    <div class="contact-us">
      <h4 style=" font-size: 24px; font-weight: bold; margin-bottom: 20px;">Contact Us</h4>
      <div class="contact" >
          <p style="font-size: 16px; color: #555;">
            <a href="https://www.google.com/maps/search/Jntuk+Kakinada/" target="_blank" style="text-decoration: none;">
              <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
              <span class="sr-only">Jntuk,Kakinada</span>

            </a>
            Jntuk,Kakinada
          </p>

          <p style="font-size: 16px; color: #555;">
            <a href="tel:9876543210" style="text-decoration: none;">
              <i class="fas fa-phone" aria-hidden="true"></i>
              <span class="sr-only">9963993477</span>

            </a>
            9963993477
          </p>

          <p style="font-size: 16px; color: #555;">
            <a href="mailto:placementofficer@jntucek.edu.in" style="text-decoration: none;">
              <i class="fas fa-envelope" aria-hidden="true"></i>
              <span class="sr-only">placementofficer@jntucek.edu.in</span>
            </a>
            placementofficer@jntucek.edu.in
          </p>

      </div>
  </div> 
  </main>
</body>
</html>





